<!DOCTYPE html>
  <html lang="es">
    <head>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
       <!-- Compiled and minified CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">


      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
        <header>
            <h1 class="center">Puntos</h1>
        </header>
        {% for puntos in puntos %}
        <div class="row">
            <div class="col s12 m6">
              <div class="card grey ">
                <div class="card-content white-text">
                  <span class="card-title">{{ puntos.nombre }}</span>
                  <p>{{ puntos.descripcion }}</p>
                </div>
                <div class="card-action">
                  <button id="boton{{ puntos.id }}" class=""></button>
                  <p class="white-text" id="fecha{{ puntos.id }}"></p>
                </div>
              </div>
            </div>
        </div>
        {% endfor %}


      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
        {% for puntos in puntos %}
             <script>
            sock{{ puntos.id }} = new WebSocket("ws://" + window.location.host + "/puntos/{{ puntos.id }}");

                sock{{ puntos.id }}.onmessage = function(e{{ puntos.id }}) {
                        var data = JSON.parse(e{{ puntos.id }}.data);
                        document.getElementById("boton{{ puntos.id }}").className = data.rta ;
                        document.getElementById("boton{{ puntos.id }}").innerHTML = data.titulo ;
                        document.getElementById("fecha{{ puntos.id }}").innerHTML = data.fecha ;
                    console.log(e{{ puntos.id }}.data)
                }
                sock{{ puntos.id }}.onopen = function() {
                    sock{{ puntos.id }}.send("verifique");
                }

             $( "#boton{{ puntos.id }}" ).click(function() {
                  sock{{ puntos.id }}.send("{{ puntos.id }}_");
                });

             </script>
        {% endfor %}
    </body>
  </html>